public net.minecraft.world.entity.monster.EnderMan$EndermanFreezeWhenLookedAt
public net.minecraft.world.entity.monster.EnderMan$EndermanLeaveBlockGoal
public net.minecraft.world.entity.monster.EnderMan$EndermanTakeBlockGoal
public net.minecraft.world.entity.monster.EnderMan$EndermanLookForPlayerGoal

public net.minecraft.world.entity.monster.EnderMan teleportTowards(Lnet/minecraft/world/entity/Entity;)Z # teleportTowards
public net.minecraft.world.entity.ai.goal.target.HurtByTargetGoal toIgnoreAlert # toIgnoreAlert
public net.minecraft.world.entity.ai.goal.target.HurtByTargetGoal alertSameType # alertSameType

# entity renderers
public net.minecraft.client.renderer.entity.EntityRenderers register(Lnet/minecraft/world/entity/EntityType;Lnet/minecraft/client/renderer/entity/EntityRendererProvider;)V # register